body {
    
    padding-bottom: 20px;
}

.Top_Container {
    margin: auto !important;
    margin-right: 25px !important;
    padding: 5px !important;
    margin-bottom: 10px !important;
    background-color: #1c1d22 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menuClass {
    align-content: center !important;
    border-bottom: solid !important;
}

.body-Heigth {
    height: 100% !important;
}
